{% extends "participant_base.html" %}

{% block content %}
    <h2>Вход для участника</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>
        
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        
        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </form>
    
    <p>Еще не зарегистрированы? <a href="{{ url_for('main.participant_register', olympiad_id=olympiad.id) }}">Зарегистрироваться</a></p>
{% endblock %}